.git
**/__pycache__/
**/.venv/
.env
*.db
*.sqlite
*.sqlite3
node_modules
dist
build
.DS_Store

# Python
*.pyo
*.pytest_cache/
.env.*
instance/


# Git/IDE
.gitignore
.vscode/
.idea/

# Node
node_modules/
**/node_modules/
gui/frontend/.cache/
gui/frontend/dist/
gui/frontend/build/

# Misc
Thumbs.db
