# Byte-compiled
__pycache__/
*.pyc

# Logs
*.log

# files and docs
*.docx
*.pdf
*.db

# env files with secrets
.env.local
.env.*.private

# env template(s) tracked
!.env.template

# Secrets
**/.env
*.env
.env
.env.*.local
**/.env.*
env.example
logs/*.log
*mp4
