# images
GUI_IMAGE=ghcr.io/anselem-okeke/smartmon-gui:latest
ORCH_IMAGE=ghcr.io/anselem-okeke/smartmon-orchestrator:latest

# DB (compose-internal)
DB_NAME=mydb
DB_USER=myuser
DB_PASS=mypass
DATABASE_URL_INTERNAL=postgresql://myuser:mypass@postgres:5432/mydb
SMARTMON_INIT_PG=1
HOST_IP=
HOST_PORT=

# Nginx
HTTP_PORT=8085
HTTPS_PORT=8443
NGINX_SITE_CONF=/etc/nginx/sites-available/smartmon-docker.conf
TLS_FULLCHAIN=/etc/smart-monitor/tls/fullchain.pem
TLS_PRIVKEY=/etc/smart-monitor/tls/privkey.pem

# GUI
SMARTMON_API_KEY=dev-please-change
APPROVED_JSON_HOST=/etc/smart-monitor/approved_services.json
APP_META_HOST=/etc/smart-monitor/app_meta.json
GUI_PORT=5003

# Optional
LOG_LEVEL=INFO
DRY_RUN=true

# optional
SMARTCTL_USE_SUDO=0
SMARTCTL=/usr/sbin/smartctl

#SMARTMON_SERVICE_WATCH=ssh.service,systemd-journald.service,systemd-logind.service,systemd-networkd.service,cron.service,nginx.service,postgresql.service,cloudflared.service,docker.service
SERVICE_STATUS_MODE=cmd
SERVICE_STATUS_CMD=/usr/local/bin/systemctl-shim
CF_TUNNEL_TOKEN=
